.search-box input {
    display: block;
    font-size: 1em;
    border: 0 solid white;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
    background-color: #333;
    color: white;
    outline: none;
}